body {
    background-color: #ffffff;    }
    @media (min-width: 991.98px) {
    main {
    padding-left: 240px;
    color:rgb(134, 134, 134);
    }
    }
    
    .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(134, 134, 134);
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;

      
    }
    
    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color:rgb(255, 255, 255);
      display: block;
      transition: 0.3s;
    }
    
    .sidebar a:hover {
      color: #f1f1f1;
    }
    
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: rgb(134, 134, 134);
      color: white;
      padding: 10px 15px;
      border: none;
    }
    
    .openbtn:hover {
      background-color: rgb(134, 134, 134);
    }
    
    #main {
      transition: margin-left .5s;
      padding: 16px;
    }
    

    body {
        background-color: #ffffff;
        color:rgb(255, 255, 255);
      }
      
      #cover {
        width: 800px;
        height: 800px;
        margin-right: 100px;
        margin-left: 300px;

        margin: auto;
      }
      
      #cover > img {
        float: left;
        width: 45%;
        margin: auto;

        opacity: .75;
        border: 2px solid;
        border-color: beige;

        
      }

      #cover > p {
        float: left;
        width: 45%;
        margin: 1.66%;
      }

      h1 {
          color:rgb(255, 255, 255);
          font-family: monospace;
          font-size: 20px;

          margin: auto;;

      }


      h2 {
        margin: auto;

        color:rgb(134, 134, 134);
        font-family: monospace;
        font-size: 75px;
        text-align:center;
      }

      p {
        margin: auto;
        margin-bottom: 100px;
        margin-right: 100px;
        margin-left: 300px;
        color:grey;
        font-family: monospace;

        font-size: 20px;

        text-indent: 50px;
        text-align: center;
        letter-spacing: 3px;
      }

      table, td, th {
        margin-left: auto;
        margin-right: auto;

        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;

        color:gray
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;

        color:gray
      }